<!doctype html>
<html lang="en">
<%- include('../partials/head.ejs') %>

<body>
  <%- include('../partials/nav.ejs') %>

  <div class="container my-4">

    <form action="/blogs" method="POST">
      <div class="form-group">
        <label for="blog_title">Blog Title</label>
        <input type="text" class="form-control" name="title" id="blog_title" placeholder="Blog Title">
      </div>
      <div class="form-group">
        <label for="blog_snippet">Blog Snippet</label>
        <input type="text" class="form-control" name="snippet" id="blog_snippet" placeholder="Blog Snippet">
      </div>

      <div class="form-group">
        <label for="blog_body">Blog Body</label>
        <textarea class="form-control" name="body" id="blog_body" rows="3"></textarea>
      </div>
      <input type="submit" value="Post" class="btn btn-primary mb-3">
    </form>
  </div>


  <%- include('../partials/footer.ejs') %>

</body>

</html>