<!doctype html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
 
  <div class="container my-4">
    <h1 class="display-4 my-3">About NodeBlog</h1>
    
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi ratione odit libero maxime veniam iure modi amet, distinctio, perspiciatis tenetur quisquam rerum possimus magnam aspernatur, optio non unde quibusdam. Accusamus tenetur neque natus magni velit, incidunt beatae harum odit dolorem exercitationem ad sed delectus blanditiis nisi dolorum molestiae ea, pariatur sequi voluptates perferendis impedit molestias fugit tempore assumenda. Rem soluta tempore voluptates ut eum error voluptate velit vel suscipit a dolor sequi laudantium laborum omnis, perspiciatis hic. Id debitis minima repudiandae at? Nisi doloremque repellendus illo odit tempora? Reprehenderit minus libero cum ratione repellat repudiandae delectus animi dicta velit? Aliquam velit temporibus architecto quisquam enim in, totam et! Corporis corrupti obcaecati modi quae. Nulla obcaecati deserunt nesciunt laboriosam, assumenda reiciendis ex ullam possimus molestiae sed eum distinctio iste consequuntur excepturi doloremque, facere doloribus aliquam alias, placeat exercitationem accusantium libero qui. Assumenda laborum numquam ab blanditiis unde perferendis voluptates eius ullam quod quos qui, mollitia cupiditate dolore sapiente, sint corporis et suscipit, doloremque ratione tempora esse recusandae aspernatur? Possimus ducimus delectus cum autem numquam tempora ad atque ullam corporis exercitationem architecto voluptatem labore eius eveniet iusto repellat ex, libero, consequatur, amet placeat veritatis. Vel consequatur itaque et at ea ab eveniet!</p>
  </div>
  

  <%- include('./partials/footer.ejs') %>
  
</body>

</html>